/* styles for my resume */


/* Reset the margin and padding */
html, body {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F7ECE1;
  padding-top: 80px;
  
}

p {
  font-family: 'Times New Roman', serif;
  display: block;
  margin-left: 5%;
  margin-right: 52%;
  font-size: 20px;
  margin-top: 40px;
}

/* Change font */
.myname {
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  font-weight: bold;
  color: #00171F;
  margin-left: 5%;
  margin-top: 30px;  /* Adds space above the element to push it lower */
}

/* Change font */
.resumesection {
  font-family: 'Times New Roman', serif;
  font-size: 30px;
  font-weight: bold;
  color: #1D2D44;
  margin-left: 5%;
  margin-top: 30px;  /* Adds space above the element to push it lower */
}

.skills {
  margin-left: 5%;
  margin-right: 15%;
  font-size: 18px;
  margin-top: 30px;  /* Adds space above the element to push it lower */
}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;                  /* Use flexbox for layout */
  justify-content: flex-end;      /* Align items to the right */
  background-color: #F7ECE1;        /* Background color for the topnav */
  padding: 10px 20px;             /* Add some padding to the nav */
  position: fixed;                /* Fix it to the top of the page */
  top: 0;                         /* Align it to the very top */
  width: 95%;                    /* Make the topnav span the full width */
  z-index: 1000;                  /* Ensure it stays on top of other content */
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Times New Roman', serif;
  display: block;
  color: #00171F;                   /* Set link text color to white */
  text-align: center;
  padding: 8px 12px;               /* adjusts box size on hover */
  text-decoration: none;          /* Remove underline by default */
  font-size: 25px;
  margin-left: 10px;              /* Add space between the links */
  border-radius: 3px;             /* Rounded corners for the box */
  border: 1px solid transparent; /* Transparent border initially */
  transition: all 0.3s ease;      /* Smooth transition for hover effects */
}

/* Change the color of links on hover */
.topnav a:hover {
  border: 1px solid #00171F;       /* Add a white border on hover */
  color: #00171F;                  /* Ensure text remains white */
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.storylinks {
  font-size: 20px;
  font-family: 'Times New Roman', serif;
  display: block;
  text-align: left;
  margin-left: 5%;
  margin-right: 15%;
  font-weight: 200;
  font-size: 18px;
  margin-top: 30px;  /* Adds space above the element to push it lower */
}

a {
  text-decoration: none; /* Remove underline */
  color: #3E5C76;
  font-weight: bold;
}

/* Style for links on hover */
.storylinks a:hover {
  color: #2A3E50; /* Or any color you want when the link is hovered */
}

.image {
  width: 600px;
  height: 600px;
}

h4, h3 {
  margin-left: 5%;
  margin-right: 25%;
  font-weight: 200;
  font-size: 18px;
}

li {
  margin-left: 5%;
  margin-right: 15%;
  font-family: 'Times New Roman', serif;
  font-size: 18px;
}
/* Footer Styles */
.footer {
  background-color: none;
  color: black;              /* Text color */
  text-align: left;        /* Center the text */
  padding: 20px 20px;           /* Add padding above and below the text */
  position: relative;        /* Allow it to be placed relative to other content */
  bottom: 0;                 /* Keep it at the bottom of the page */
  margin-top: 50px;          /* Optional: Add some space before the footer */
  margin-left: 3.5%;
}

.footer p {
  font-family: 'Times New Roman', serif;
  font-size: 16px;
  margin: 0;   /* Remove any margin around the text */
  padding: 0;  /* Remove any padding */
}



