<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Roboto+Serif:wght@400;600&family=Roboto:wght@100;400;900&family=Source+Sans+Pro:wght@400;600&family=Special+Elite&display=swap" rel="stylesheet">

    <title>Victoria Stavish's resume</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

  <body>

    <br>
    <br>
    <br>
    <br>

<div class="topnav" id="myTopnav">
  <a href="/">Home</a>
  <a href="/resume">Resume</a>
  <a href="/data">Data Analysis</a>
  <a href="/dataviz">Data Visualization</a>
  <a href="/automation">Automation</a>
  <a href="/contact">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class= "myname">

  Hi, I'm Victoria
  
  </div>

<p>I enjoy building tools and automating systems that assemble, manage, analyze and visualize data. </p>

<p>I'm currently a data and computational journalist at Hearst Connecticut Media Group. I turn complex data on topics like elections, demographics, economics, education and sports into engaging narratives for diverse audiences. I also build tools to help the newsroom, and other Hearst newsrooms, report on topics efficiently.</p>

<p>I graduated from the University of Maryland with degrees in information science and journalism. I've worked with data and backend tools at The Minnesota Star Tribune, The Baltimore Sun, The Texas Tribune and The Howard Center for Investigative Journalism. </p>

<p> When I'm not working I enjoy playing volleyball, reading novels, trying out new knitting patterns, playing video games and cooking.</p>


  </body>

  <!-- Footer section -->
<footer class="footer">
  <p>Developed and designed by Victoria Stavish</p>
  <p>Connect with me</p>
</footer>


</html>
