<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display&family=Roboto+Serif:wght@400;600&family=Roboto:wght@100;400;900&family=Source+Sans+Pro:wght@400;600&family=Special+Elite&display=swap" rel="stylesheet">

    <title>Victoria Stavish's resume</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

  <body>

    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/resume">Resume</a>
      <a href="/data">Data Analysis</a>
      <a href="/dataviz">Data Visualization</a>
      <a href="/automation">Automation</a>
      <a href="/contact">Contact</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class= "resumesection">

      Skills
  
      </div> 

      <div class= "skills">
        <b style="font-weight: bold; color: #3E5C76;"> Programming:</b> Python (Pandas, MatPlotLib, NumPy, PySpark, BeautifulSoup, requests, sqlite3, Flask, Selenium), R (Leaflet, ggplot2, Shiny), SQL, Javascript (Node.js, React.js), JSON, HTML, CSS
        <br>
        <br>
        <b style="font-weight: bold; color: #3E5C76;">Data Visualization:</b> Datawrapper, QGIS, ArcGIS, Figma, Adobe Illustrator, Tableau, PowerBI, Carto, Flourish
        <br>
        <br>
        <b style="font-weight: bold; color: #3E5C76;">DevOps Tools:</b> Docker, Git, AWS S3, AWS Glue, Bash scripting, Powershell
      </ul>

    </div>

    <div class= "resumesection">

      Professional Experience
  
      </div> 

      <h4> <b><i>Data and Computational Journalist</i></b> | <b style="font-weight: bold; color: #3E5C76;">Hearst Connecticut Media Group</b> | September 2024 - Present </h4>
      <ul>
            <li>Generate more than 100,000 page views per month by creating interactive, data-driven stories using Python, R, Javascript, ArcGIS, QGIS, APIs, Git and AWS environments.</li>
            <li>Boost reporter productivity by automating systems, building unique datasets and developing internal and external tools.</li>
            <li>Collaborate with developers, engineers, reporters and project managers across markets as the resident data and automation expert to bring big ideas to engaging visualizations and copy.</li>
        </ul>

        <h4> <b><i>Data Reporting Intern</i></b> | <b style="font-weight: bold; color: #3E5C76;">The Minnesota Star Tribune</b> | June 2024 - August 2024 </h4>
        <ul>
              <li>Produce more than 2 minutes of average read time for both quick turn and enterprise stories driven by data from APIs, web-scrapers, public agencies and Freedom of Information Act requests.</li>
              <li>Generate more than 100,000 views on live updates on breaking news by building timely news applications using Python and APIs.</li>
          </ul>

          <h4> <b><i>Developer</i></b> | <b style="font-weight: bold; color: #3E5C76;">The Howard Center for Investigative Journalism</b> | January 2022 - May 2024 </h4>
          <ul>
                <li>Improve  productivity by developing the computational pipeline and backend of an interactive database analyzing tens of thousands of congressional travel spending and sponsorship documents using Python, ETL systems and OpenAI API.</li>
                <li>Created a data management ETL pipeline and a cohesive R notebook to analyze police-involved death incident data, identify patterns and test hypotheses for a major Associated Press investigation into law enforcement practices and lethal restraint.</li>
            </ul>


          <h4> <b><i>Data Visuals Intern</i></b> | <b style="font-weight: bold; color: #3E5C76;">The Texas Tribune</b> | August 2023 - December 2023 </h4>
          <ul>
                <li>Pitch, report, and develop original stories centered on Texas politics and public policy.</li>
                <li>Collaborate with reporters to incorporate visual and data elements to their stories using Datawrapper, ai2html, ai2figma, Python, GeoJSON and QGIS.</li>
            </ul>

          <h4> <b><i>Data and Computational Intern</i></b> | <b style="font-weight: bold; color: #3E5C76;">The Baltimore Sun</b> | August 2023 - December 2023 </h4>
          <ul>
                <li>Developed, reported, analyzed and created enterprise and breaking news stories in text and graphic/visualization form using R, Python, Excel, Carto, Datawrapper and Flourish. </li>
                <li>Wrote and documented web scrapers to develop stories from public information.</li>
                <li>Engineered datasets and frameworks to better report on and visualize data in Baltimore neighborhoods.</li>
            </ul>

          <h4> <b><i>Data Editor</i></b> | <b style="font-weight: bold; color: #3E5C76;">The Diamondback</b> | June 2021 - May 2024 </h4>
          <ul>
                <li>Managed three reporters by guiding data analysis and reporting process as well as editing stories, graphics and code.</li>
                <li>Introduced GitHub, graphics and documentation standards as well as incorporated data into breaking news coverage, entertainment coverage and the newsroom as a whole.</li>
                <li>Pitched, wrangled, analyzed, reported, wrote and designed stories centered on data biweekly. Stories picked up by The Washington Post, WAMU and FOX5DC.</li>
            </ul>

        <div class= "resumesection">

          Education
      
          </div>

          <h4> <b style="font-weight: bold; color: #3E5C76;">The University of Maryland - College Park</b> </h4>

          <h4> <b><i>Bachelor of Arts, Multiplatform Journalism & Bachelor of Science, Information Science</i></b> | 3.8 GPA | August 2020 - May 2024 </h4>

        </body>

          <footer class="footer">
            <p>Developed and designed by Victoria Stavish</p>
            <p>Connect with me</p>
          </footer>

</html>

